body {
	background-color: white;
	font-family: 'Roboto', sans-serif;

}

div {
	border: 1px solid Chocolate;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

nav {
	background-color: white;
	position: fixed;
	width: 100%;
		z-index:9999;
}

.content
{
	width: 60rem;
	height: 4.375rem;
	margin: 0 auto;
	padding: 0px 15px;


}

.logo {
	margin-top: 15px;
}

.navbar-links {
		float: right;
		margin-top: 1.7rem;
		-webkit-font-smoothing: antialiased;
		color: #838994;


}
.navbar-links > li {
	display: inline-block;
}

.navbar-links > li > a {
	text-decoration: none;
	margin-left: 1.5rem;
	color: inherit;
	font-size: 16px;
	letter-spacing: 0.03em;

}

.navbar-links > li> .active {
	color: #4c5058;
	font-weight:500;
}

.navbar-links > li > a:hover {
	 color: #333333;
	 cursor: pointer;
}

.first-section {
	background-image: url(../images/background-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;

	height: 45.9rem;
}

.first-section-content {
	margin: 0 auto;
	width: 46rem;
	color: white;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	padding-top: 3rem;



}

.title {
	font-size: 3.125rem;
	font-weight: 100;
	margin-top: 13rem;
	margin-bottom: 0;

}

.subtitle {
	letter-spacing: 0.03em;
	font-size: 1.5rem;
	margin-bottom: 3rem;

}

button {
	background-color: #f15a29;
	border: none;
	padding: 1rem 1.5rem;
	font-size: 1.2rem;
	text-decoration: none;
	border-radius: 4px;

}

button > a {
	text-decoration: none;
	color: white;

}

button > a:hover {
	color: white;
}


button:hover {
	background-color: #d9400e;
	cursor: pointer;

}

.second-section {
	height: 300px;
}

.second-section-content {
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;


}

.second-section-title {
	font-size: 2.75rem;
	margin-top: 1.625rem;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;


}


.second-section-subtitles {
	font-size: 1.5rem;
	text-align: center;

}

.second-section-content > .devices {
	display: inline-block;
	float: left;
	width: 20%;
	border: 1px solid black;
	box-sizing: border-box;
	height: 6em;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

